<div class="Header">
    <div class="Container-flex">
    <div class="Header-name">
    Ahmad Taufik Rahman
    </div>
    <div class="Header-item">
        <div class="item">
            <%= link_to 'New Teachers', teachers_new_path %>
        </div>
        <div class="item">
            <%= link_to 'Edit Teachers', teachers_edit_path %>
        </div>
        <div class="item">
            <%= link_to 'Show Teachers', teachers_show_path %>
        </div>
    </div>
    </div>

</div>

</div>